body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: left;
    background: #d8cdaa;
    background-attachment: fixed;
    color: black;

}
:root{
    --template-bgColor: white;
    --template-padding: 2em;
    --heading-font-size: 1.5em;
    --title-1-font-size: 1em;
    --title-2-font-size: .8em;
    --info-text-size: .6em;
    --point-text-size: .6em;
    --form-info-text-size: .8em;
    --form-font-color: #a9a9a9;
}
h1, h2, p{
    margin: 0px;
}
h2{
    align-self: center;
}
button{
    margin: .4em;
}
hr{
    border: none;
    color: black;
    background-color: black;
    width: 100%;
    height: 2px;
    /* box-shadow: 2.5px 2.5px 5px rgba(0, 0, 0, 0.185); */
}
*:focus{
    outline: none;
}
::placeholder{
    color: #a9a9a9;
}
.page{
    display: flex;
}

/* Container for Resume View */
/* Resume Page Template */
.view{
    --width: 600px;
    width: var(--width);
    height: calc(1.2942 * var(--width));
    background-color: var(--template-bgColor);
    display: flex;
    flex-flow: column;
    padding: var(--template-padding);
    overflow: scroll;
}
/* Headings (name, section titles) */
.heading-text{
    font-size: var(--heading-font-size);
}
.title-1{
    font-size: var(--title-1-font-size);
}
.title-2{
    font-size: var(--title-2-font-size);
}
/* Section Container */
.section--container{
    display: flex;
    flex-direction: column;
    align-items: left;
    overflow-wrap: break-word;
}
/* Container Bar for contact info */
.header--contact, .date-location{
    display: flex;
    overflow-wrap: normal;
    flex-wrap: wrap;
    justify-content: center;
}
.date-location{
    justify-content: left;
}
/* Template for each contact method element (photo-text pairs) */
.header--contact--object{
    display: flex;
    align-items: center;
    margin: .2em;
}
/* Contact info text (text in photo-text pairs)*/
.contact-info{
    font-size: var(--info-text-size);
}
ul{
    margin: 0px;
}
/* Bullet points */
.point{
    font-size: var(--point-text-size);
}
/* Images (icons) */
.phone-logo{
    object-fit: contain;
    width: .8em;
}
.gmail-logo{
    object-fit: contain;
    width: 1.4em;
}
.website-logo{
    object-fit: contain;
    width: 1em;
}
.github-logo{
    object-fit: contain;
    width: 1em;
}
.linkedin-logo{
    object-fit: contain;
    width: 1em;
}
.location-logo{
    object-fit: contain;
    width: 1em;
}
.calendar-logo{
    object-fit: contain;
    width: 1em;
}
/* Container for form */
.control{
    --width: 600px;
    width: var(--width);
    height: calc(1.2942 * var(--width));
    display: flex;
    flex-flow: column;
    padding: 2em;
    overflow: scroll;
}
.form-input-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* justify-content: left;
    flex-wrap: wrap; */
}
.form-input-object{
    width: 1fr;
    position: relative;
    display: flex;
    font-size: var(--form-info-text-size);
    margin: .5em;
    margin-left: .2em;
    margin-right: .2em;
}
.form-input{
    width: 100%;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-bottom: 1px solid var(--form-font-color);
    padding-left: .4em; 
    padding-right: .4em;
    margin-left: .4em;
    margin-right: .4em;
    z-index: 1;
}
.form-input-field{
    color: var(--form-font-color);
    position: absolute;
    top: 0px;
    transition-property: top, font-size;
    transition-duration: .2s;
}
.form-input:focus + .form-input-field, 
.form-input:not([value=""]) + .form-input-field{
    font-size: 8px;
    top: -10px;

}