.slider-track {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    // display: inline-block;
    
    white-space: nowrap;
    // overflow: hidden;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}
.slide-carrier {
    display: inline-block;
    animation: scroll 20s linear infinite;
    
}
.slide {
    margin: 0px 20px;
    display: inline-block;
    align-items: center;
    perspective: 100px;

}
.template-slide-image {
    --slide-width: 200px;
    width: var(--slide-width);
    transition: transform 1s;
    box-shadow: 2.5px 2.5px 5px rgba(0, 0, 0, 0.185);
}
.template-slide-image:hover {
    transform: translateZ(20px);
}